*{
	margin:0;
}

html, body{
	height:100%;
}

div.container{
	min-height: 100%;
	margin:0 auto -40px;
}

footer, .push{
	height:40px;
}

footer{
	width: 100%;
	display: block;
	background-color: #bbbbbb;
}

footer div{
	display: block;
	text-align:center;
	padding-top: 10px;
	height:30px;
	color: white;
	font-size: 11pt;
}

header{
	height:100px;
	background-color: #C9C9CB;
	/* background: url(../images/title.jpg) center top; */
	/* background-image: url('../images/bg_header.jpg'), url('../images/java.png');
	background: url('../images/bg_header.jpg') bottom / 100% no-repeat fixed,
	              url('BackgroundBack.png') bottom / 100% no-repeat fixed ; */
}

header span{
	display: block;
	float: right;
	margin-right: 20px;

}
header span a{
	text-decoration: none;
	color: white;
}

header img{
	margin-left: 20px;
}

nav{
	display:block;
	width: 100%;
	height: 50px;
	background-color: #C9C9CB;
}

/*menu로 위에 하나 더 묶어 주었음
nav div.menubar{
	display: block;
	float:right;
	width: 50%;
	display: block;
	float:right;
	width: 50%;
}

nav div.menubar{
	display: block;
	width: 50%;
	float: right;
}
*/
*/
.menu{
	display: block;
	float:right;
	width: 50%;
}
nav div.menubar{
	display: block;
	float:right;
	width: 50%;
	position:absolute;
}
.menubar{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-size:14px;
	font-weight:bold;
}

.menubar ul{
	height:50px;
	list-style-type:none;
	margin:0;
	padding:0;
}

.menubar li{
	float:left;
	padding:0px;
	width: 25%;
	border-radius:0 0 8px 8px;
}

.menubar li a{
	background-color: #C9C9CB;
	color:#363634;
	display:block;
	font-weight:bold;
	line-height:50px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	border-radius:8px 8px 0 0;
}

.menubar li a:hover, .menubar ul li:hover a{
	background:#363634;
	color:#C9C9CB;
	text-decoration:none;
}

.menubar li ul{
	background: #363634;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	z-index:200;
	border-radius:8px;
}

.menubar li:hover ul{
	display:block;
}

.menubar li li {
	background: #363634;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:100%;
}

.menubar li:hover li a{
	background:none;
}

.menubar li ul a{
	display:block;
	height:50px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	border-radius:0 0 8px 8px;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
	background: #C9C9CB;
	border:0px;
	color:#363634;
	text-decoration:none;
}

.menubar p{
	clear:left;
}

section{
	display:block;
	height:619px;
	background-image: url(../images/summer3_img.jpg);
	background-repeat: no-repeat;
}
